<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService_Flights" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:52517/Service_Flights.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService_Flights"
                contract="ServiceReference_Emirates.IService_Flights" name="BasicHttpBinding_IService_Flights" />
        </client>
    </system.serviceModel>
</configuration>